/*
Name:			flexicarousel
Description:	slick, yet nifty
Author:			weshatch


 
/*  ---------------------------------------------------------
	RESET
	-------------------------------------------------------*/

html, body, body div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video { margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:""; content:none; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
table { border-collapse:collapse; border-spacing: 0; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
del { text-decoration:line-through; }
body, html { height:100%; }

* {
	-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; 
	-webkit-transition:all 0.2s ease; -moz-transition:all 0.2s ease; -ms-transition:all 0.2s ease; -o-transition:all 0.2s ease;
	background-repeat:no-repeat; position:relative;
}

body { font:16px/20px Helvetica, sans-serif; color:#666; word-break:break-word; }


/*  ---------------------------------------------------------
	LAYOUT
	-------------------------------------------------------*/

.container { width:100%; max-width:1050px; margin:0 auto; padding:0 80px; }
	section { min-height:300px; overflow:hidden; }


/*  ---------------------------------------------------------
	GENERAL STYLES
	-------------------------------------------------------*/

/* --- typography --- */
p { margin-bottom:1.5em; }

h1, h2, h3, h4 { font-family:Helvetica, sans-serif; text-align:center; margin-bottom:0.5em; }
h1 { font-size:44px; color:#ccc; line-height:44px; margin-top:15px; }
h3 { font-size:18px; color:#ff6666; text-transform:uppercase; }

/* --- links --- */
a 		{ color:#fb0018; outline:0; text-decoration:none; }
a:hover { color:#ff6666; }
a:focus { outline:thin dotted; }

/* --- lists --- */
ul, li { list-style:none; }

/* --- images --- */
.carousel img { margin-bottom:20px; max-width:100%; }

/* --- buttons --- */
.next, .prev { position:absolute; top:74px; cursor:pointer; opacity:0.75; display:inline-block; width:40px; height:73px; border:0; z-index:100; }
.next:hover, .prev:hover { opacity:1; }
.prev { left:-64px; background:url('images/arrow-left.png') no-repeat; }
.next { right:-64px; background:url('images/arrow-right.png') no-repeat; }

/* --- carousel --- */
.carousel.narrow { width:50%; text-align:center; }
.carousel li.gap { /*margin-left:30px;*/ padding:5px; }
.carousel ul { min-width:100%; }
.carousel h3 { margin-bottom:25px; }
.carousel .jumps { text-align:center; }
.carousel .jumps ul { min-width:0; display:inline-block; }
.carousel .jump { width:16px; height:16px; cursor:pointer; border-radius:8px; background:#ddd; float:left; margin:4px; }

/* --- helpful --- */
.left{ float:left !important; }
.right { float:right !important; }
.disabled { opacity:0.1 !important; cursor:default !important; }

