	hr { margin: 5em 0; }
	button { display: inline-block; }


	.carousel {
		width: 100%;
		margin:	0 auto;
		position:relative;
	}
	.carousel .wrap {
		display: flex;
	}

	.carousel li {
		padding: 2px;
		margin: 0 !important;
		max-height: 600px;
		overflow: hidden;
		flex: 1 0 100%;
	}

	.carousel h3 {
		position: absolute;
		color: #fff;
		padding: 0.5em;
		z-index: 1;
	}

	.carousel img {
		width:100%;
		height:auto;
	}

	.clip {
		overflow: hidden;
	}

	/* TEN */
	@media(min-width:480px) {
		#ten .wrap > li {
			-webkit-flex-basis: 100%;
			   -moz-flex-basis: 100%;
					  -ms-flex: 1 0 100%;
					flex-basis: 100%;
		}
	}
	@media(min-width:800px) {
		#ten .wrap > li {
			flex-basis: 50%;
		}
		#ten li.active img,
		#ten li.active + li img
		{
			/*-webkit-filter: brightness(100%);*/
			opacity: 1;
		}
	}
	@media(min-width:1120px) {
		#ten .wrap li {
			flex-basis: 33.3333%;
		}
		#ten li img {
			/*-webkit-filter: brightness(30%);*/
			opacity: 0.1;
		}

		#ten li.active img,
		#ten li.active + li img,
		#ten li.active + li + li img
		{
			-webkit-filter: brightness(100%);
			opacity: 1;
		}
	}



	/* BILLION */
	#billion {
		/*width: 50%;
		padding: 0 100px;*/
		min-width: 400px;
	}

	#billion li {
		flex-basis: 100%;
	}

	#billion nav .prev { left: 1em; }
	#billion nav .next { right: 1em; }




	/* SEVEN */
	#seven .wrap > li {
		/*background-color: #bbb;*/
		/*padding: 10px;*/
		text-align: center;
		/*flex-basis: 33.3333%;*/

		/* margin: 10px;	*/
		/* NOTE: these slides are flex: 1 0 100%, while margin will add to the calculated width. So... */

		/*border: 10px solid transparent;*/
		/*background-clip: padding-box;*/

		padding: 10px;

	}
	@media screen and (min-width:480px) {
		#seven .wrap > li {
			flex-basis: calc(1/3 * 100%);		/* 33.3333%; */
		}
	}
	@media screen and (min-width:800px) {
		#seven .wrap > li {
			flex-basis: 25%;
		}
	}
	@media screen and (min-width:1120px) {
		#seven .wrap > li {
			flex-basis: 20%;
		}
	}
