/* -------------------------------------
	SAMPLE CAROUSEL STYLES
------------------------------------- */

/*
  SEE: https://apathetic.github.io/showcase/assets/css/main.min.css
       for other demo styles
 */

.carousel nav .next.disabled,
.carousel nav .prev.disabled {
	opacity: 0.2;
}

.carousel img {
	pointer-events: none;
	width: 100%;
	height: auto;
	border: 2px solid #fff;
	display: block;
}

.carousel h3 {
	position: absolute;
	z-index: 10;
	color: #fff;
	padding: 1em;
}


/* TEN */
#ten .wrap {
	width: calc(100% + 20px);
  margin: -10px;
}
#ten .wrap li {
	padding: 10px;
}

@media(min-width:480px) {
	#ten .wrap > li {
		-webkit-flex-basis: 100%;
		   -moz-flex-basis: 100%;
				  -ms-flex: 1 0 100%;
				flex-basis: 100%;
	}
}
@media(min-width:800px) {
	#ten .wrap > li {
		flex-basis: 50%;
	}
}
@media(min-width:1120px) {
	#ten .wrap li {
		flex-basis: 33.3333%;
	}
}

/* BILLION */
#billion {
	max-width: 540px;
  overflow: hidden;
}
#billion .wrap {
	width: 66.666%;
    margin: 0px auto;
}

/* SEVEN */
@media screen and (min-width:480px) {
	#seven .wrap > li {
		flex-basis: calc(1/3 * 100%);		/* 33.3333%; */
	}
}
@media screen and (min-width:800px) {
	#seven .wrap > li {
		flex-basis: 25%;
	}
}
@media screen and (min-width:1120px) {
	#seven .wrap > li {
		flex-basis: 20%;
	}
}
